_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
Gemfile
.vscode/settings.json
.pytest_cache
_python/__pycache__
_drafts/
Gemfile.lock
_data/castro_podcasts.opml
_data/podcasts.yml
_python/config.py
.DS_Store
_python/__pycache__/
converts/
_python/scratch.py
images/books/
images/books/.DS_Store
images/splashscreens/.DS_Store
images/.DS_Store
