<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{page.title}} - Toolkit by thechelsuk</title>
        <meta name="title" content="{{page.title}} - Toolkit by thechelsuk">
        <meta name="description" content="{{page.description}} - Toolkit by thechelsuk">
        <meta name="canonical" content="{{page.url | absolute_url }}">
        <meta name="robots" content="index,follow">
        <meta name="author" content="thechelsuk">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="{{page.title}} - Toolkit by thechelsuk" />
        <meta itemprop="description" content="{{page.description}} - Toolkit by thechelsuk" />
        <meta itemprop="image" content="{{ site.owner.avatar }}" />

        <!-- open graph -->
        <meta property="og:locale" content="en_GB">
        <meta property="og:type" content="website">
        <meta property="og:title"
            content="{%if page.title %}{{ page.title }}{% else %}{{ post.title }}{% endif %} | {{ site.title }} by thechelsuk">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:image" content="{{ site.owner.avatar }}">
        <meta property="og:site_name" content="{{ site.title }} {{ site.description }} by thechelsuk">
        <meta property="og:description" content="{{ page.description }} | {{ site.title }} by thechelsuk">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title"
            content="{%if page.title %}{{ page.title }}{% else %}{{ post.title }}{% endif %} | {{ site.title }} by thechelsuk">
        <meta name="twitter:description" content="{{ page.description }} | {{ site.title }} by thechelsuk">
        <meta name="twitter:image" content="{{ site.owner.avatar }}">

        <!-- Linking socials and RSS feeds -->

        <meta name="fediverse:creator" content="@thechels.uk" />
        <link rel="me" href="https://bsky.app/profile/thechels.uk">
        <link rel="me" href="https://www.youtube.com/@thechelsuk">
        <link rel="me" href="https://www.twitch.tv/thechelsuk">
        <link rel="me" href="https://ko-fi.com/thechelsuk">
        <link rel="me" href="https://github.com/thechelsuk">
        <link rel="me" href="https://web.brid.gy/thechels.uk">
        <link rel="me" href="https://hiyd.uk">
        <link rel="me" href="https://nuchronic.uk">
        <link rel="me" href="https://cheltenham-od.uk">

        <!-- meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
        <meta name="HandheldFriendly" content="True">
        <meta name="theme-color" content="#005CA3">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-title" content="thechelsuk">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <link href="/fonts/thechelsuk-Regular.woff2" rel="preload" crossorigin as="font" type="font/woff2">
        <link href="/fonts/thechelsuk-Bold.woff2" rel="preload" crossorigin as="font" type="font/woff2">
        <link rel="stylesheet" href="/style.css">

        <link rel="pingback" href="https://webmention.io/thechels.uk/xmlrpc" />
        <!-- verify -->
        <meta name="msvalidate.01" content="0792E4237BC516A9033CB784F6F629E1" />

        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "{{ site.organization.name }}",
          "url": "{{ site.organization.url }}",
          "logo": "{{ site.organization.logo }}",
          "sameAs": [
            {% for link in site.organization.sameAs %}
            "{{ link }}"{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ]
        }
        </script>
    </head>

    <body>
        <div id="outer-wrapper">
            <div id="wrapper">
                <header id="header">
                    <ul class="skip-link-ul">
                        <li>
                            <a href="#main" class="skip-link">Skip to main content</a>
                        </li>
                    </ul>
                    <div class="blog-title">
                        <a href="{{ site.url }}">
                            {% if site.title %}
                            {{ site.title }}
                            {% else %}
                            {{ page.title }}
                            {% endif %}</a> <sup class="asterisk" id="top">*</sup>
                    </div>
                    <div class="blog-image"></div>
                    <p class="blog-slogan">
                        // Hopefully Helpful Tools
                    </p>
                    <nav class="blog-menu">
                        {% if page.id %}
                        <a href="{{ site.url }}" title="Back to all posts">&larr; Back</a>
                        {% else %}
                        <a href="{{ site.url }}" title="Back to all home">&larr; Home</a>
                        {% endif %}
                        {% for item in site.navigation_header %}
                        <a href="{{ item.link }}">{{ item.name }}</a>|
                        {% endfor %}
                    </nav>
                </header>
                <main id="main" class="content">