name: "Link Checker"

on:
    workflow_dispatch:
    schedule:
        - cron: "0 20 * * 5"

permissions:
    contents: read
    issues: write

jobs:
    linkChecker:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Link Checker
              id: lychee
              uses: lycheeverse/lychee-action@v2.7.0
              with:
                fail: true
                format: markdown
              env:
                GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

            - name: Create Issue From File
              if: steps.lychee.outputs.exit_code != 0
              uses: peter-evans/create-issue-from-file@v5
              with:
                  title: Link Checker Report
                  content-filepath: ./lychee/out.md
                  labels: Bot
